{% extends "EVPlatformBundle::layout.html.twig" %}


{% block title %} {{ parent() }} (accueil) {% endblock title %}

{% block subtitle %}<h1>Tableau de bord</h1>{% endblock subtitle %}


{% block evplatform_body %}
    <div>
        {% if is_granted('ROLE_COMPANY') %}
            <div class="row">
                <div class="col">
                    <h3 class="padding-top-3">Mes dernières annonces postées</h3>
                </div>
                <div class="col-1">
                    <p class="text-right">
                        <a class="btn btn-info" href="{{ path('ev_platform_list_all_adverts') }}">Voir tout</a>
                    </p>
                </div>
            </div>
            {{ render(controller("EVPlatformBundle:Dashboard:myLastsAdverts", {'limit':3})) }}
        </div>


        <div>
            <div class="row">
                <div class="col">
                    <h3 class="padding-top-3">Dernières candidatures reçues</h3>
                </div>
                <div class="col-1">
                    <p class="text-right">
                        <a class="btn btn-info" href="{{ path('ev_platform_list_all_applications') }}">Voir tout</a>
                    </p>
                </div>
            </div>
            {{ render(controller("EVPlatformBundle:Dashboard:myLastsApplications", {'limit':3})) }}
        {% elseif is_granted("ROLE_CANDIDATE") %}
            <div class="row">
                <div class="col">
                    <h3 class="padding-top-3">Les dernières annonces postées</h3>
                </div>
                <div class="col-1">
                    <p class="text-right">
                        <a class="btn btn-info" href="{{ path('ev_platform_list_all_adverts') }}">Voir tout</a>
                    </p>
                </div>
            </div>
            {% if listAdverts > 0 %}
                <ul>
                    {% for advert in listAdverts %}
                        <li>
                            <a href="{{ path('ev_platform_view_advert', {'id': advert.id}) }}">
                                {{ advert.title }}
                            </a>
                            par {{ advert.user.username }},
                            le {{ advert.date|date('d/m/Y') }}
                        </li>
                    {% endfor %}
                </ul>

            {% else %}
                <div role="alert">
                    Aucune annonce n'a encore été postée.
                </div>
            {% endif %}
            </div>


            <div>
                <div class="row">
                    <div class="col">
                        <h3 class="padding-top-3">Mes dernières candidatures envoyées</h3>
                    </div>
                    <div class="col-1">
                        <p class="text-right">
                            <a class="btn btn-info" href="{{ path('ev_platform_list_all_applications') }}">Voir tout</a>
                        </p>
                    </div>
                </div>
                {% if listApplications|length > 0 %}
                    <ul>
                        {% for application in listApplications %}
                            <li>
                                <a href="{{ path ('ev_platform_readApplication', {'idadvert': application.advert.id, 'id': application.id}) }}">
                                    Candidature n°CA{{ application.advert.id }}{{ application.id }}
                                </a>
                                par <strong>{{ application.firstName }} {{ application.lastName | upper }}</strong>
                                pour "<i>{{ application.advert.title }}</i>",
                                le {{ application.date | date ('d-m-Y') }} à {{ application.date | date ('H:i') }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div role="alert">
                        Vous n'avez encore reçu aucune annonce.
                    </div>
                {% endif %}
        {% endif %}
    </div>
{% endblock %}